<h1>Editing ingrediant</h1>

<%= render "form", ingrediant: @ingrediant %>

<br>

<div>
  <%= link_to "Show this ingrediant", @ingrediant %> |
  <%= link_to "Back to ingrediants", ingrediants_path %>
</div>
